__pycache__/
*.py[cod]
*.egg-info/
.eggs/
dist/
build/
.venv/
.uv/
.pytest_cache/
*.png
*.gif
*.mp4
.DS_Store
*.apk
android-sdk/
tools/flutter/
android_app/halo_emulator_app/build/
android_app/halo_emulator_app/.dart_tool/
